<h5 class="mb-3">Ahoj!</h5>

<p>Jmenuju se Leni a zdravím vás ze státu New York! V létě 2019 jsem se sebrala a odjela z Česka do USA studovat <a href="https://ischool.syr.edu/academics/ph-d-in-information-science-and-technology/">doktorát z informačních věd</a>. Momentálně
žiju ve městě Syracuse, což je asi 4 hodiny autem na sever of New York City, čeká mě druhý rok studia PhD a nová dobrodržuství zatím stále v době covidové.</p>
<p>Cestuju, studuju, běhám, cvičím jógu (občas), všímám si toho, co se děje kolem, porovnávám (ale nehodnotím), co dělá Čechy Čechami a Ameriku Amerikou, a píšu o tom na tenhle blog.</p>
<p>Důvod, proč mě číst? Najdete tu historky s česko-americkými faux pas i radosti, které to přináší, dělím se o kulturní absurdnosti, trable a strasti studia na americké unvierzitě, a sem tam vám doporučím, co si přečíst nebo poslechnout. A třeba se vám jednou budou hodit tipy na cestování po východním pobřeží.</p>
