<h5 class="mb-3">Ahoj!</h5>

<p>Jmenuju se Leni a zdravím vás ze státu New Yorku! Na přelomu třicítky jsem se sebrala a odjela z Česka do USA studovat doktorát z informačních věd. Momentálně
žiju ve městě Syracuse, asi 4 hodiny autem na sever of New York City. Cestuju, studuju, běhám, cvičím jógu, všímám si toho, co se děje kolem, a sem tam o tom píšu 
na tenhle blog. Důvod, proč mě číst? Ne všechno, co se děje za louží je tak jednostranné, jak se občas skrze televizní optiku zdá. A třeba se vám budou hodit tipy
na cestování po východním pobřeží.</p>
